<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleExecutable</key>
    <string>CamInjectPrefs</string>
    <key>CFBundleIdentifier</key>
    <string>com.yourname.caminjectprefs</string>
    <key>CFBundleName</key>
    <string>CamInjectPrefs</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>NSPrincipalClass</key>
    <string>CamInjectListController</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>CamInject needs access to select an image to inject into the camera feed.</string>
</dict>
</plist>
